### JSON
* JSON stands for JavaScript Object Notation.
* It is used primarily to transmit data between a server and web application, as an alternative to XML

**Keys and Values**
The two primary parts that make up JSON are keys and values. Together they make a key/value pair.

* **Key:** A key is always a string enclosed in quotation marks.
* **Value:** A value can be a string, number, boolean expression, array, or object.
* **Key/Value Pair:** A key value pair follows a specific syntax, with the key followed by a colon followed by the value. Key/value pairs are comma separated.

**Types of Values**
* Array: An associative array of values.
* Boolean: True or false.
* Number: An integer.
* Object: An associative array of key/value pairs.
* String: Several plain text characters which usually form a word.

In [51]:
import requests

In [52]:
url = "https://jsonplaceholder.typicode.com/users"
req = requests.get(url)
req

Response Code 200 indicates that the request has succeeded and now we can work on data

In [53]:
# load json into object 

json_data = req.json()

In [54]:
# Check type of object

type(json_data)

list

In [55]:
# no. of elements in list object

len(json_data)

10

In [56]:
# data type of first element of list object

type(json_data[0])

dict

In [57]:
# No. of keys in dictionary

len(json_data[0])

8

In [58]:
# list all keys of first dictionary

json_data[0].keys()

dict_keys(['id', 'name', 'username', 'email', 'address', 'phone', 'website', 'company'])

In [59]:
print(json.dumps(json_data[0], indent=4))

{
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
        "street": "Kulas Light",
        "suite": "Apt. 556",
        "city": "Gwenborough",
        "zipcode": "92998-3874",
        "geo": {
            "lat": "-37.3159",
            "lng": "81.1496"
        }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
        "name": "Romaguera-Crona",
        "catchPhrase": "Multi-layered client-server neural-net",
        "bs": "harness real-time e-markets"
    }
}

### Save json data and read it back

In [60]:
import json

# save in file
with open(r'./data/users_data.json', 'w') as outfile:
    json.dump(json_data, outfile, indent=2)

# read json from file
with open(r'./data/users_data.json', 'r') as infile:
    input_data = json.load(infile)

In [62]:
# check first record
print(json.dumps(input_data[0], indent=2))

{
  "id": 1,
  "name": "Leanne Graham",
  "username": "Bret",
  "email": "Sincere@april.biz",
  "address": {
    "street": "Kulas Light",
    "suite": "Apt. 556",
    "city": "Gwenborough",
    "zipcode": "92998-3874",
    "geo": {
      "lat": "-37.3159",
      "lng": "81.1496"
    }
  },
  "phone": "1-770-736-8031 x56442",
  "website": "hildegard.org",
  "company": {
    "name": "Romaguera-Crona",
    "catchPhrase": "Multi-layered client-server neural-net",
    "bs": "harness real-time e-markets"
  }
}

### JSON Flattening

In [63]:
import pandas as pd

In [64]:
df = pd.DataFrame(input_data)

In [65]:
df.head(3)

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."

In [66]:
# function to flatten nested json
def flatten_json(json):
    output = {}
    
    def flatten(inpt, name=''):
        if type(inpt) is dict:
            for elem in inpt:
                flatten(inpt[elem], name + elem + '_')
        elif type(inpt) is list:
            i = 0
            for elem in inpt:
                flatten(elem, name + str(i) + '_')
                i += 1
        else:
            output[name[:-1]] = inpt
            
            
    flatten(json)
    return output

In [67]:
flattened_data = [flatten_json(row) for row in input_data]

In [73]:
len(flattened_data)

10

In [70]:
flattened_data[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address_street': 'Kulas Light',
 'address_suite': 'Apt. 556',
 'address_city': 'Gwenborough',
 'address_zipcode': '92998-3874',
 'address_geo_lat': '-37.3159',
 'address_geo_lng': '81.1496',
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company_name': 'Romaguera-Crona',
 'company_catchPhrase': 'Multi-layered client-server neural-net',
 'company_bs': 'harness real-time e-markets'}

In [71]:
flattened_df = pd.DataFrame(flattened_data)
flattened_df.head(3)

,id,name,username,email,address_street,address_suite,address_city,address_zipcode,address_geo_lat,address_geo_lng,phone,website,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications

In [74]:
flattened_df.shape

(10, 15)